doctype
html
  head
    title awesomeFb
    link(rel='stylesheet', href='/vendors/semantic-ui/css/semantic.css')
    link(rel='stylesheet', href='/vendors/open-sans/open-sans.css')
    link(rel='stylesheet', href='/vendors/roboto-condensed/roboto-condensed.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .ui.grid
      .ui.centered.twelve.wide.column
        header
          h1 awesomeFb

        .container
          
          table.ui.sortable.celled.table
            thead
              tr
                th ID
                th Nội dung
                th Thời điểm
                th Chủ đề
                th Spam
                th Đánh giá
            tbody
              each comment in comments
                tr
                  td= comment.fb_id
                  td= comment.message
                  td= comment.time_created
                  td= comment.topic
                  td= comment.is_spam
                  td= comment.sentiment
        footer
          p Running on node with Express, Jade and Stylus