if comments == null
  ui.loading.segment
else
  table.ui.compact.loading.sortable.celled.table
    thead
      tr
        th ID
        th Người gửi
        th Nội dung
        th.date Ngày gửi
        th Chủ đề
        th Spam
        th Đánh giá
    tbody
      each comment in comments
        tr
          td
            - var actualId = comment.fb_id.split('_')[0]
            a(href='https://facebook.com/' + actualId)= actualId
          td
            a(href='https://facebook.com/' + comment.creator.fb_id)= comment.creator.name
          td= comment.message
          td= comment.time_created.toUTCString()
          td= comment.topic
          td= comment.is_spam
          td= comment.sentiment

